.project {
  color: white;
}
video {
  height: 35vh;
}
.projectImg {
  height: 250px;
  width: 250px;
}
.galleryContainer {
  position: relative;
  width: 50%;
}
.galleryOverlay {
  position: absolute;
  top: 0;
  bottom: 20;
  left: 250px;
  right: 0;
  height: 150px;
  width: 250px;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
}
.galleryContainer:hover .galleryOverlay {
  opacity: 0.8;
}
.text {
  color: antiquewhite;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
@media (min-width: 320px) {
  .projectImg {
    height: 150px;
  }
  video {
    height: 150px;
    margin: 0 auto;
  }
  .project {
    text-align: center;
  }
}
