.welcome {
  padding-top: 25vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.bottom {
  margin-top: 35vh;
}
.lanchor:link {
  color: white;
  text-decoration: none;
}
